{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block title %} {{ current_company }} {% endblock %}

{% block content %}
  <header style="background-color: #333; color: #FFF; text-align: center; padding: 20px 0;">
      <div class="features" style="text-align: center;">
        <a href="{% url 'create_house' %}"><button type="button" class="btn btn-dark">Добавить дом</button></a>
        <a href="{% url 'create_human' %}"><button type="button" class="btn btn-dark">Добавить сотрудника</button></a>
        <a href="{% url 'edit_company' current_company.pk %}"><button type="button" class="btn btn-dark">Изменить название кампании</button></a>
        <a href="{% url 'delete_company' current_company.pk %}"><button type="button" class="btn btn-dark">Удалить кампанию</button></a>
      </div>
  </header>

  <div align="center" style="background-color: #f2f2f2; color: #333; font-family: Arial, sans-serif; padding: 20px;">
    <h2><i> {{ current_company }}</i></h2>
    <h3><i> Список домов </i></h3>
    {% for i in house %}
      <p>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
          <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/>
        </svg>
        {{ i.city }} {{ i.street }} {{ i.house_number }}
        <a  href="{% url 'delete_house' i.id %}"><button type="button" class="btn btn-dark"> Удалить</button></a>
        <a href="{% url 'edit_house' i.id %}"><button type="button" class="btn btn-dark"> Изменить</button></a>
      </p>
    {% endfor %}

    <div align="left">
      <h3><i> Список сотрудников </i></h3>
      {% for h in humans %}
        <p>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
          </svg>
          {{ h.name }} {{ h.surname }} {{ h.mail  }}
          <a href="{% url 'delete_human' h.id %}"><button type="button" class="btn btn-dark"> Удалить</button></a>
          <a href="{% url 'edit_human' h.id %}"><button type="button" class="btn btn-dark">Изменить</button></a>
        </p>
      {% endfor %}
    </div>
  </div>
{% endblock %}
