{% extends 'main/base.html' %}

{% block title %}Удаление кампании{% endblock %}

{% block content %}
 <div align="center" style="background-color: #f2f2f2; color: #333; font-family: Arial, sans-serif; padding: 20px;">
	<h1>Удаление кампании</h1>
	<h3>Вы действительно хотите удалить кампанию?</h3>
	<h4>Все данные кампании будут удалены!!!</h4>	
		<form method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit" class="btn btn-danger btn-lg" >Удалить кампанию</button>
			<span>{{ error }}</span>		
		</form>

{% endblock %}